.stats {
    padding: 2rem 8rem;
    padding-bottom: 4rem;
}
.stats-main {
    margin-top: 3rem;
    display: flex;
    gap: 3rem;

}
.stats-left {
    width: 40%;
    font-size: 1.2rem;
}
.stats-left p{
    margin-bottom: 2rem;
}
.stats-right {
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}
.stats-detail {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    width: 10rem;
    padding: 1rem 2rem;
    border-radius: 5px;
    background: white;
    text-align: center;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.stats-detail h3{
    font-family: "poppins";
    font-size: 1.5rem;
    color: #343F52;
}
.stats-detail p{
    color: #535b6c;
}
.stats-detail .stats-icon {
    width: 4rem;
    height: 4rem;
    padding: 1rem;
    font-size: 1rem;
    border-radius: 50%;
}
.stats-events .stats-icon {
    background-color: #e9eaf8;
    color: #747ed1;
}
.stats-members .stats-icon {
    background-color: #FAE6E7;
    color: #E2626B;
}
.stats-hours .stats-icon {
    background-color: #FEF3E4;
    color: #FAB758;
}
.stats-experience .stats-icon {
    background-color: #E4F1F6;
    color: #54A8C7;
}
.stats-partners .stats-icon {
    background-color: #F5F5F5;
    color: #424242;
}
.stats-fund .stats-icon {
    background-color: #E1F0DA;
    color: #99BC85;
}
.stats-shape1{
    position: absolute;
    z-index: -1;
    margin-top: -2rem;
    right: 8rem;
    width: 8rem;
    height: 8rem;
}
.stats-shape2{
    position: absolute;
    z-index: -1;
    left: 32.5rem;
    width: 6rem;
    height: 6rem;
    margin-top: 21rem;
}

@media(min-width:1350px){
    .stats-shape1,
    .stats-shape2{
        display: none;
    }
    .stats-right{
        justify-content: center;
    }
}
@media(max-width:1200px){
    .stats{
        padding: 2rem 4rem;
    }
}
@media(max-width:1070px){
    .stats-main{
        flex-direction: column;
    }
    .stats-left{
        width: 100%;
        text-align: center;
        justify-content: center;
        padding: 0 4rem;
    }
    .stats-right{
        width: 100%;
        padding: 0 5rem;
        justify-content: center;
    }
    .stats-shape1,
    .stats-shape2{
        display: none;
    }
}
@media(max-width:840px){
    .stats{
        padding: 2rem 1rem;
    }
    .stats-left{
        padding: 0;
    }
    .stats-right{
        padding: 0;
        gap: 0.7rem;
    }
    .stats-detail{
        width: 8rem;
        padding: 0.5rem;
        gap: 0.5rem;
    }
    .stats-detail h3{
        font-size: 1.1rem;
    }
    .stats-detail .stats-icon{
        width: 3rem;
        height: 3rem;
        padding: 0.8rem;
    }

}